{% load static %}
<link rel="stylesheet" href="../../static/work06/top.css">
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>計算ページ</title>
</head>

<body>
    <h1>いろいろ計算ツール</h1>
    <p><a href="http://127.0.0.1:8000/work06/reiwa/">西暦ツール</a></p>
    <p><a href="http://127.0.0.1:8000/work06/bmi/">BMIツール</a></p>
    <p><a href="http://127.0.0.1:8000/work06/warikan/">割り勘ツール</a></p>
    <p><a href="http://127.0.0.1:8000/work06/tyokin/">貯金ツール</a></p>
    <p><a href="http://127.0.0.1:8000/work06/sisoku/">四則演算ツール</a></p>
</body>

</html>